*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Roboto', sans-serif;
}

/* Utility Classes */

.btm-primary {
    background: black;
    color: white;
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
}
.btm-secundy{
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
}

.logo {
    height: 50px;
    width: auto;
}

/* Navbar */

#navbar {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    justify-content: center;
    position: fixed;
    top: 0 ;
    width: 100%;
}

#navbar .navbar-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}



#navbar .navbar-container ul {
    display: flex;
    list-style: none;
}

#navbar .navbar-container ul li {
    padding: 0 20px
}

#navbar .navbar-container ul li:nth-child(3) {
    border-right: 2px solid white;
}

/* Showcase */

#showcase {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    align-items: center;
    color: white;
    background: url(./hm.webp) center center/cover;
    background-color: rgb(0, 0, 0, 0.2);
    background-blend-mode: color;
}

#showcase {
    
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#showcase .showcase-container h2 {
    font-size: 3rem;
}

#showcase .showcase-container p {
    font-size: 1.5rem;
    margin: 15px 0;
}

/* Footer */

#footer{
    background: black;
    color: white;
    padding: 80px 0;
}

#footer .footer-content{
    display: flex;
    width: 60%;
    margin: auto;
    
}

#footer .footer-content .footer-menu{
    margin: 0 45px;
    list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item{
    margin: 20px 0;
}

#footer .footer-content .footer-menu p{
    font-weight: bold;
    text-transform: uppercase;
    color: #919496;
    font-size: 0.8rem;
}

.socials{
    display: flex;

}

.socials i{
    margin: 0 20px;
    font-size: 1.7rem;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    margin: auto;
    font-weight: bold;
    color: #919496;
    font-size: 0.75rem;
}

.footer-info .footer-info-itens{
    display: flex;
    list-style: none;
}

.footer-info .footer-info-itens .footer-info-item{
    margin: 0 10px;
}


.footer-info .rights {
    
}

.footer-info .rights .country {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    align-items: 10px;
}

.footer-info .rights .country .brazil-flag{
    height: 20px;
    width: auto;
    display: inline-block;
    margin-left: 10px;
}